/* tabs */

body {
  background-color: #333;
  padding-top: 10vw;
}

.tab {
  font-size: 3vw;
}
.tab.selected {
  background-color: #FFF;
  color: #000;
}

.text-input {
  display: flex;
  width: 90vw;
  padding: 1vw;
  background-color: #EEE;
  border: 0;
  font-size: 3vw;
  font-weight: 300;
}
.text-input:focus {
  outline: none;
}

/* menu lists */

.menu {
  position: absolute;
  margin-top: -25px;
	display: inline-block;
}

.menu.top {
  margin-left: 50%;
  border-bottom: 2px solid #FFF;
  transform: translateX(-50%) translateY(-100%);
}
.menu.left {
  margin-left: -200px;
  border-right: 2px solid #FFF;
}
.menu.right {
  margin-left: 140px;
  border-left: 2px solid #FFF;
}

.menu-list {
	list-style-type: none;
	margin: 0 5px;
	padding: 0;
	position: relative;
}
.menu.top .menu-list {
  margin: 5px 0;
}

.menu-list:before {
	position: absolute;
	content: '';
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: calc(50% - 10px);
}
.menu-list:after {
	position: absolute;
	content: '';
	border: 3px solid #333;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}
.menu.top .menu-list:before {
  border: 0;
	border-top: 25px solid #f9f9f9;
  border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: -30px;
	top: auto;
	left: calc(50% - 10px);
}
.menu.top .menu-list:after {
  top: auto;
	bottom: -15px;
  left: calc(50% - 3px);
	transform: none;
}
.menu.left .menu-list:before {
	border-left: 25px solid #f9f9f9;
	right: -30px;
}
.menu.left .menu-list:after {
	right: -15px;
}
.menu.right .menu-list:before {
	border-right: 25px solid #f9f9f9;
	left: -30px;
}
.menu.right .menu-list:after {
	left: -15px;
}



.menu-list-item {
	background-color: #f9f9f9;
	color: #494748;
	width: 150px;
	padding: 15px 25px;
	margin-bottom: 5px;
}

.menu-list-item:last-child {
	margin-bottom: 0;
}

.menu-list-item:hover {
	cursor: pointer;
	background-color: #eda60c;
	color: #f9f9f9;
}
